{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>VMwellness</title>

  <!-- Bootstrap CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- font -->
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/metropolis" type="text/css"/>

  <!-- water_tracker.css -->
  <link href="{% static 'css/water_tracker.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="dashboard.html">VMwellness</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="goals">Goals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="water">Water Tracker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitystream">Wellness Stream</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="resources">Resources</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>WMwellness Water Tracker</h1>
            </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  {% block body %}
  <div class="container">
    <h2><pre> </pre></h2> <!-- for spacing -->
    <h3>
      <pre>{{ water_goal }} oz         {{ water_consumed }} oz          {{ percent_complete }}%</pre>
    </h3>
    <h5>
      <pre>          Goal         Water Consumed      Percent Complete</pre>
    </h5>
    <h3><pre> </pre></h3> <!-- for spacing -->
    {% if is_put %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="button">Update</button>
    </form>
    {% endif %}
    {% if not is_put %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Set Goal</button>
    </form>
    {% endif %}
    <h3><pre> </pre></h3> <!-- for spacing -->
    <!-- <h4><pre>You got this</pre></h4> -->
  </div>
  {% endblock %}

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">Copyright &copy; VMware Borathon 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>

</body>

</html>